<form autocomplete="off">
    <div class="form-group">
        <label>Common</label>
        <input type="number" name="common" value="{{durability.common}}" min="1">
    </div>
    <div class="form-group">
        <label>Uncommon</label>
        <input type="number" name="uncommon" value="{{durability.uncommon}}" min="1">
    </div>
    <div class="form-group">
        <label>Rare</label>
        <input type="number" name="rare" value="{{durability.rare}}" min="1">
    </div>
    <div class="form-group">
        <label>Very Rare</label>
        <input type="number" name="veryRare" value="{{durability.veryRare}}" min="1">
    </div>
    <div class="form-group">
        <label>Legendary</label>
        <input type="number" name="legendary" value="{{durability.legendary}}" min="1">
    </div>
    <button type="submit">Save Changes</button>
</form>